@mixin centered-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}

@mixin centered-x {
    position: absolute;
    left: 50%;    
    transform: translate(-50%);    
}

@mixin centered-y {
    position: absolute;    
    top: 50%;
    transform: translate(-50%);    
}